h2 {
	font: comic, sans-serif;
	font-weight: bold;
	margin-left: 400px;
}

p {
	font-size: 20px;
	font-style: bold;
}

#timer {
	display: block;
}

#play {
	font-size: 30px;
	color: violet;
	font-family: cursive;
	display: inline;
}

.hole {
	top: 35px;
	left: 15px;
    max-width: 70%;
    height: auto;
    position: absolute;
}

.rat {
	max-width: 80%;
    height: auto;
    z-index: 1;
    position: absolute;
}

.gametile {
	position: relative;
	height: 150px;
}


